# Configuration file

appliedenergistics2 {

    item_toolnetherquartzwrench {
        I:wrench=0
    }

    item_toolcertusquartzspade {
        I:shovel=3
    }

    item_toolcertusquartzwrench {
        I:wrench=0
    }

    item_toolcertusquartzaxe {
        I:axe=3
    }

    item_toolnetherquartzaxe {
        I:axe=3
    }

    item_toolnetherquartzpickaxe {
        I:pickaxe=3
    }

    item_toolnetherquartzspade {
        I:shovel=3
    }

    item_toolcertusquartzpickaxe {
        I:pickaxe=3
    }

    item_toolnetworktool {
        I:wrench=0
    }

}


avaritia {

    infinity_pickaxe {
        I:pickaxe=34
    }

    infinity_shovel {
        I:shovel=34
    }

    infinity_axe {
        I:axe=34
    }

}


awwayoftime {

    boundaxe {
        I:axe=-1
    }

    boundshovel {
        I:shovel=-1
    }

    boundpickaxe {
        I:pickaxe=-1
    }

}


botania {

    terraaxe {
        I:axe=6
    }

    manasteelshovel {
        I:shovel=5
    }

    glasspick {
        I:pickaxe=0
    }

    manasteelaxe {
        I:axe=5
    }

    terrapick {
        I:pickaxe=6
    }

    manasteelpick {
        I:pickaxe=5
    }

    elementiumpick {
        I:pickaxe=5
    }

    elementiumaxe {
        I:axe=5
    }

    elementiumshovel {
        I:shovel=5
    }

}


enderio {

    item_darksteel_axe {
        I:axe=7
    }

    item_darksteel_pickaxe {
        I:pickaxe=7
    }

}


extrautilities {

    destructionpickaxe {
        I:pickaxe=5
    }

    defoliageaxe {
        I:axe=5
    }

    erosionshovel {
        I:shovel=5
    }

}


forbiddenmagic {

    morphshovel {
        I:shovel=6
    }

    taintpickaxe {
        I:pickaxe=7
    }

    taintshovel {
        I:shovel=5
    }

    morphpickaxe {
        I:pickaxe=6
    }

    morphaxe {
        I:axe=6
    }

}


ic2 {

    item_itemtoolbronzeaxe {
        I:axe=3
    }

    item_itemtoolbronzepickaxe {
        I:pickaxe=3
    }

    item_itemtoolddrill {
        I:pickaxe=5
        I:shovel=5
    }

    item_itemtoolbronzespade {
        I:shovel=3
    }

    item_itemtoolchainsaw {
        I:axe=3
    }

    item_itemtooldrill {
        I:pickaxe=3
        I:shovel=3
    }

}


immersiveengineering {

    tool {
        I:IE_HAMMER=2
    }

}


mekanismtools {

    bronzepaxel {
        I:axe=5
        I:pickaxe=5
        I:shovel=5
    }

    goldpaxel {
        I:axe=0
        I:pickaxe=0
        I:shovel=0
    }

    glowstonepaxel {
        I:axe=3
        I:pickaxe=3
        I:shovel=3
    }

    glowstonepickaxe {
        I:pickaxe=3
    }

    ironpaxel {
        I:axe=3
        I:pickaxe=3
        I:shovel=3
    }

    bronzeaxe {
        I:axe=3
    }

    glowstoneaxe {
        I:axe=3
    }

    obsidianaxe {
        I:axe=5
    }

    glowstoneshovel {
        I:shovel=3
    }

    lapislazuliaxe {
        I:axe=3
    }

    bronzepickaxe {
        I:pickaxe=3
    }

    obsidianpaxel {
        I:axe=5
        I:pickaxe=5
        I:shovel=5
    }

    bronzeshovel {
        I:shovel=3
    }

    stonepaxel {
        I:axe=0
        I:pickaxe=0
        I:shovel=0
    }

    diamondpaxel {
        I:axe=5
        I:pickaxe=5
        I:shovel=5
    }

    osmiumshovel {
        I:shovel=3
    }

    lapislazulipickaxe {
        I:pickaxe=3
    }

    steelshovel {
        I:shovel=5
    }

    obsidianshovel {
        I:shovel=5
    }

    steelpaxel {
        I:axe=5
        I:pickaxe=5
        I:shovel=5
    }

    osmiumaxe {
        I:axe=3
    }

    steelpickaxe {
        I:pickaxe=5
    }

    woodpaxel {
        I:axe=0
        I:pickaxe=0
        I:shovel=0
    }

    osmiumpickaxe {
        I:pickaxe=3
    }

    lapislazulishovel {
        I:shovel=3
    }

    osmiumpaxel {
        I:axe=5
        I:pickaxe=5
        I:shovel=5
    }

    obsidianpickaxe {
        I:pickaxe=5
    }

    lapislazulipaxel {
        I:axe=3
        I:pickaxe=3
        I:shovel=3
    }

    steelaxe {
        I:axe=5
    }

}


minecraft {

    wooden_shovel {
        I:shovel=0
    }

    wooden_axe {
        I:axe=0
    }

    golden_axe {
        I:axe=0
    }

    wooden_pickaxe {
        I:pickaxe=0
    }

    diamond_shovel {
        I:shovel=5
    }

    diamond_pickaxe {
        I:pickaxe=5
    }

    stone_axe {
        I:axe=1
    }

    golden_pickaxe {
        I:pickaxe=1
    }

    iron_pickaxe {
        I:pickaxe=3
    }

    stone_shovel {
        I:shovel=0
    }

    iron_shovel {
        I:shovel=3
    }

    iron_axe {
        I:axe=3
    }

    golden_shovel {
        I:shovel=0
    }

    stone_pickaxe {
        I:pickaxe=1
    }

    diamond_axe {
        I:axe=5
    }

}


minefactoryreloaded {

    hammer {
        I:wrench=0
    }

}


rotarycraft {

    rotarycraft_item_bedpick {
        I:pickaxe=2147483647
    }

    rotarycraft_item_steelshovel {
        I:shovel=3
    }

    rotarycraft_item_bedaxe {
        I:axe=2147483647
    }

    rotarycraft_item_steelaxe {
        I:axe=3
    }

    rotarycraft_item_steelpick {
        I:pickaxe=3
    }

    rotarycraft_item_bedshovel {
        I:shovel=2147483647
    }

}


tconstruct {

    shovel {
        I:shovel=-1
    }

    battleaxe {
        I:axe=-1
    }

    hammer {
        I:pickaxe=-1
    }

    pickaxe {
        I:pickaxe=-1
    }

    lumberaxe {
        I:axe=-1
    }

    hatchet {
        I:axe=-1
    }

    excavator {
        I:shovel=-1
    }

    mattock {
        I:axe=-1
    }

}


thaumcraft {

    itemshovelthaumium {
        I:shovel=5
    }

    itempickthaumium {
        I:pickaxe=5
    }

    itempickvoid {
        I:pickaxe=6
    }

    itemshovelvoid {
        I:shovel=6
    }

    itemaxethaumium {
        I:axe=5
    }

    itemprimalcrusher {
        I:pickaxe=-1
        I:shovel=-1
    }

    itemshovelelemental {
        I:shovel=5
    }

    itemaxevoid {
        I:axe=6
    }

    itempickaxeelemental {
        I:pickaxe=5
    }

    itemaxeelemental {
        I:axe=5
    }

}


thaumictinkerer {

    ichorshovelgem {
        I:shovel=6
    }

    ichorpickgem {
        I:pickaxe=6
    }

    ichorpick {
        I:pickaxe=6
    }

    ichoraxegem {
        I:axe=6
    }

    ichorshovel {
        I:shovel=6
    }

    ichoraxe {
        I:axe=6
    }

}


thermalexpansion {

    wrench {
        I:wrench=0
    }

    tool_battlewrenchinvar {
        I:wrench=0
    }

}


thermalfoundation {

    tool_sicklecopper {
        I:sickle=0
    }

    tool_shovelnickel {
        I:shovel=3
    }

    tool_shovellead {
        I:shovel=0
    }

    tool_shovelinvar {
        I:shovel=3
    }

    tool_axesilver {
        I:axe=3
    }

    tool_pickaxeplatinum {
        I:pickaxe=6
    }

    tool_axenickel {
        I:axe=3
    }

    tool_shovelbronze {
        I:shovel=3
    }

    tool_axelead {
        I:axe=0
    }

    tool_sickleinvar {
        I:sickle=3
    }

    tool_sicklewood {
        I:sickle=0
    }

    tool_shovelelectrum {
        I:shovel=0
    }

    tool_axeelectrum {
        I:axe=0
    }

    tool_pickaxeinvar {
        I:pickaxe=3
    }

    tool_sickleelectrum {
        I:sickle=0
    }

    tool_sicklestone {
        I:sickle=0
    }

    tool_axecopper {
        I:axe=0
    }

    tool_sicklebronze {
        I:sickle=3
    }

    tool_sicklegold {
        I:sickle=0
    }

    tool_shoveltin {
        I:shovel=0
    }

    tool_pickaxecopper {
        I:pickaxe=0
    }

    tool_pickaxelead {
        I:pickaxe=0
    }

    tool_sickletin {
        I:sickle=0
    }

    tool_axeinvar {
        I:axe=3
    }

    tool_pickaxesilver {
        I:pickaxe=3
    }

    tool_axetin {
        I:axe=0
    }

    tool_pickaxenickel {
        I:pickaxe=3
    }

    tool_shovelsilver {
        I:shovel=3
    }

    tool_sicklediamond {
        I:sickle=5
    }

    tool_pickaxetin {
        I:pickaxe=0
    }

    tool_pickaxeelectrum {
        I:pickaxe=0
    }

    tool_axebronze {
        I:axe=3
    }

    tool_shovelplatinum {
        I:shovel=6
    }

    tool_sicklesilver {
        I:sickle=3
    }

    tool_axeplatinum {
        I:axe=6
    }

    tool_sickleplatinum {
        I:sickle=6
    }

    tool_sicklelead {
        I:sickle=0
    }

    tool_pickaxebronze {
        I:pickaxe=3
    }

    tool_shovelcopper {
        I:shovel=0
    }

    tool_sicklenickel {
        I:sickle=3
    }

    tool_sickleiron {
        I:sickle=3
    }

}


