# Configuration file

clipboard {
    I:0 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        45
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        116
        97
        105
        110
        101
        100
        95
        104
        97
        114
        100
        101
        110
        101
        100
        95
        99
        108
        97
        121
        63
        99
        111
        108
        111
        114
        61
        103
        114
        101
        101
        110
        3
        0
        1
        115
        0
        0
        0
        0
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        -20
        120
        -38
        99
        98
        21
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        66
        22
        -55
        -55
        79
        -73
        79
        -84
        -56
        44
        -74
        -83
        84
        43
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        102
        -48
        69
        86
        83
        92
        -110
        8
        -28
        -91
        -60
        103
        36
        22
        -91
        -92
        -126
        24
        -55
        57
        -119
        -107
        -10
        -55
        -7
        57
        -7
        69
        -74
        -23
        69
        -87
        -87
        121
        12
        -78
        -56
        -54
        -45
        -117
        18
        -117
        -117
        -19
        -117
        -13
        -14
        -53
        43
        109
        -45
        18
        115
        -118
        83
        -119
        55
        45
        -87
        40
        -65
        60
        -113
        -95
        98
        13
        -57
        4
        71
        -106
        6
        -107
        6
        70
        5
        70
        -107
        73
        -98
        12
        52
        0
        -98
        42
        -109
        24
        -128
        -26
        11
        81
        -45
        124
        79
        -107
        6
        -122
        6
        40
        107
        -37
        109
        33
        -96
        -5
        25
        -124
        105
        104
        62
        -56
        -3
        120
        -51
        71
        -56
        16
        -25
        6
        76
        -9
        19
        111
        -66
        -112
        7
        -116
        -115
        96
        -127
        0
        -93
        2
        -126
        -27
        119
        4
        91
        -8
        76
        59
        -119
        -84
        6
        -103
        61
        -91
        19
        -58
        -98
        -46
        73
        -122
        -7
        -48
        -16
        -95
        -52
        124
        74
        -30
        -105
        -104
        -16
        -95
        103
        -4
        -94
        -91
        -1
        6
        106
        -89
        127
        -52
        -4
        -59
        64
        51
        -13
        -101
        56
        17
        -27
        3
        0
        92
        85
        -119
        -44
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


