# Configuration file

general {
    B:"Allow all items to be added"=false
    S:"Blacklisted Mods" <
        tconstruct
        intangible
        magneticraft
        thermalfoundation
        redstonearsenal
        embers
     >
    S:"Mod Aliases" <
        botanicaladdons=botania
        thermaldynamics=thermalexpansion
        rftoolsdim=rftools
     >
    B:"Morph in the offhand instead of mainhand"=false
    S:"Whitelisted Items" <
        botania:twigwand
        appliedenergistics2:network_tool
     >
    S:"Whitelisted Names" <
        wrench
        screwdriver
        hammer
        rotator
     >
}


