# Configuration file

~CONFIG_VERSION: 0.1.0

world-1517589428 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=menril
    B:overlayEnabled=true
}


world-1977251650 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=oak wood
    B:overlayEnabled=true
}


world-2060703100 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-661382369 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-71516281 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-7668262 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-7668263 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-82510145 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1737152846 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=caul
    B:overlayEnabled=true
}


world1990610177 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=false

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=crystal

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


world2603186 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


